<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title meta name="description" content="A katalog Restaurants">Sav Panorama</title>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"
  />
    <link rel="icon" href="./favicon.png">
    <link rel="manifest" href="./app.webmanifest.json" crossorigin="use-credentials">
</head>
<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
        <header-only></header-only>
    </header>
    <main tabindex="0" id="maincontent">
      <div class="restaurant-list"></div>
    </main>
    <footer tabindex="0">
      <h3 class="fo">Copyright © 2024 - Savor Panorama</h3>
    </footer>
</body>
</html>